@charset "UTF-8";

body{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-align: center;
}
#roll{
    font-size: 3rem;
    padding: 5px 25;
    border-radius: 5px;
}
.myLabels{
    font-size: 3rem;
}